# base
python==3.11
pandas

# rllm and rllm dependencies
rllm # copy the https://github.com/rllm-team/rllm.git/rllm in root dir
scikit-learn

# torch
pytorch
torch_geometric

# llm
llama-index
llama-index-llms-openai-like
llama_index-embeddings-huggingface
